@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin simple-list {
  @include no-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}

nav ul {
  @include simple-list;
}